#e1{
  background-color:#0EBEBA;
}
#a{
  background-color:#A9E2F3;
}
#b{
  background-color:#A9F5A9;
}
#c{
  background-color:#D8F781;
}
#d{
  background-color:#F5BCA9;
}
#a1{background-color:#F6CED8;}
#a2{background-color:#F6CEE3;}
#a3{background-color:#F6CEEC;}
#a4{background-color:#ECCEF5;}
#a5{background-color:#E3CEF6;}
#a6{background-color:#CECEF6;}
#a7{background-color:#A9D0F5;}
#a8{background-color:#A9F5A9;}
#a9{background-color:#F2F5A9;}
#a10{background-color:#F6CECE;}

#b1{background-color:#F5A9BC;}
#b2{background-color:#F5A9D0;}
#b3{background-color:#F5A9E1;}
#b4{background-color:#F5A9F2;}
#b5{background-color:#E2A9F3;}
#b6{background-color:#D0A9F5;}
#b7{background-color:#BCA9F5;}
#b8{background-color:#A9A9F5;}
#b9{background-color:#A9E2F3;}
#b10{background-color:#F5BCA9;}

#c1{background-color:#F5A9A9;}
#c2{background-color:#F5BCA9;}
#c3{background-color:#F5D0A9;}
#c4{background-color:#F3E2A9;}
#c5{background-color:#F2F5A9;}
#c6{background-color:#E1F5A9;}
#c7{background-color:#D0F5A9;}
#c8{background-color:#BCF5A9;}
#c9{background-color:#A9F5A9;}
#c10{background-color:#A9F5F2;}

#d1{background-color:#F7819F;}
#d2{background-color:#F78181;}
#d3{background-color:#F781BE;}
#d4{background-color:#F79F81;}
#d5{background-color:#F781D8;}
#d6{background-color:#F7BE81;}
#d7{background-color:#DA81F5;}
#d8{background-color:#F5DA81;}
#d9{background-color:#BE81F7;}
#d10{background-color:#81F781;}

#pi{
  background-color:#DBA901;
}
